.Rproj.user
.Rhistory
.RData
.Ruserdata

# Local site, Travis CI will create them for us
/public/*

# Intermediate files created by blogdown package
/blogdown/*
/static/post

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version
